* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.top-nav {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-bar {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

/*.nav-bar {
    background: red;
    display: flex;
    text-decoration: none;
    margin-left: 400px;
    align-items: center;
    list-style: none;
}

.nav-bar li{
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
}*/

.search-input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}

.hero {
    display: grid;
    grid-template-columns: 170px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'top-bar top-bar top-bar top-bar' 'left-bar main-content main-content main-content';
'left-bar main-content main-content main-content';
'left-bar main-content main-content main-content';
}

.top-nav {
    grid-area: top-bar;
}

.left-bar {
    grid-area: left-bar;
    background: #FE706C;
}

.main-content {
    grid-area: main-content;
}


.left-bar ul {
    list-style: none;
    padding: 15px;
    text-align: center;
}

.arrow-down img {
    width: 30px;
}

.left-logo {
    margin-top: 12em;
}

.left-logo a img {
    width: 50px;
}

.left-logo img {
    width: 50px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 'line-one line-one line-one' 'line-two line-two line-two' 'line-tree line-tree line-tree';
    margin: 50px 0 0 100px;
    overflow: auto;
}

.movie-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    margin-top: 90px;
}

.movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.movie-details {
    padding: 2px 16px;
}

.movie-img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.settings {
    margin-top: 30em;
}

.fila-uno {
    position: absolute;
    top: 150px;
    left: 273px;
    font-size: 25px;
}

.fila-dos{
    position: absolute;
    top: 673px;
    left: 273px;
    font-size: 25px;
}

.fila-tres{
    position: absolute;
    top: 1183px;
    left: 273px;
    font-size: 25px;
}

